default: &default
  adapter: postgresql
  encoding: unicode
  pool: 25
  username: 
  password: 

development:
  <<: *default
  database: transport_app_development

test:
  <<: *default
  database: transport_app_test

production:
  <<: *default
  database: transport_app_production
